<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :airport_source_id, "Start from" %>
    <%= form.text_field :airport_source_id %>

    <%= form.label :airport_dest_id, "Ends in" %>
    <%= form.text_field :airport_dest_id %>

    <%= form.label :airplane_id, "Airplane" %>
    <%= form.text_field :airplane_id %>

    <%= form.label :payment_id, "Cost" %>
    <%= form.text_field :payment_id %>

    <%= form.label :fl_date, "Date" %>
    <%= form.date_field :fl_date %>

    <%= form.submit %>
  </div>
<% end %>
